{% extends 'agents/base.html' %}
{% block 'body' %}

{% comment %} Content {% endcomment %}
<h1 style="margin: 45px 0px">{{ agent.firstName }} {{ agent.lastName }}</h1>

<p class="lead">
	{{ agent.about }}
</p>

<img src="{{ agent.picture.url }}" height=600></img>

<p class="lead" style="margin:20px 0px">
	Experience: {{ agent.experience }}
	<br>
	Contact Number: {{ agent.number }}
	<br>
	Contact Email: {{ agent.email }}
</p>

<p class="lead">
	<a
		href="{% url 'agents' %}"
		class="btn btn-lg btn-light fw-bold border-white bg-white"
		style="margin:20px 0px"
		>Return</a
	>
</p>


{% endblock %}