{% extends "../../base.html" %}
{% block title %}Fictitious Tees: Reset Password{% endblock %}


{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6  mx-auto">

							{% comment %} Password Change Form {% endcomment %}
                            <form class="login-form p-4 rounded" method="post">
                                {% csrf_token %}
                                <h1 class="h4 mb-4 font-weight-bold">Change Password</h1>
                                <p>Use the form below to change your password.</p>

                                {% if form.errors %}
									<p>Please correct the following errors:</p>
									{% for field in form %}
										{% if field.errors %}
											<div class="alert alert-primary" role="alert">
												{{ field.label }}: {{ field.errors|striptags }}
											</div>
										{% endif %}
									{% endfor %}
                                {% endif %}

                                <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
                                {{ form.new_password1 }}
                                <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
                                {{ form.new_password2 }}

								{% comment %} Guidelines {% endcomment %}
                                <ul>
                                    <li>Your password must contain at least 8 characters.</li>
									<li>Your password cannot be a commonly used password.</li>
                                    <li>Your password cannot be entirely numeric.</li>
                                </ul>

								<div class="d-grid gap-2">
									<button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit"
										value="Change Password">Submit
									</button>
								</div>
                            </form>

							{% comment %} Additional Options {% endcomment %}
                            <p class="small text-center pt-4">
                                <a href="{% url "account:login" %}">Login Instead</a>
                            </p>
                            <p class="small text-center">
                                <a href="{% url "account:register" %}">Create New Account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}