/*
Copy this file to your Desktop
Open this file in either NOTEPAD or NOTEPAD++
DO NOT open it in anything else.
Once you have done this go to the menu
Click on SEARCH
CLICK ON REPLACE Enter kpolandsp242333 on the first line
Place you LOGIN name on the second line. (LASTNAME FIRST INITIAL then
the semester initials and two digit year.
I.E. Mine would be wilgaowskiksp21 (If I am taking it in the SPRING it's SP.
Use SU for Summer and FA for Fall.)
Then click on REPLACE ALL.
Save the file and it will still be on the Desktop.
Open MSSQL and select NEW QUERY
Drag it over to MSSQL 
Click on EXECUTE and the file should run 
WITHOUT errors.
*/


USE [itse2333pbesp24]
GO
/****** Object:  Table [kpolandsp242333].[Addresses]    Script Date: 3/5/2020 4:09:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[Line1] [varchar](60) NOT NULL,
	[Line2] [varchar](60) NULL,
	[City] [varchar](40) NOT NULL,
	[State] [varchar](2) NOT NULL,
	[ZipCode] [varchar](10) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Disabled] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Administrators]    Script Date: 3/5/2020 4:09:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Administrators](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Categories]    Script Date: 3/5/2020 4:09:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Customers]    Script Date: 3/5/2020 4:09:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [varchar](255) NOT NULL,
	[Password] [varchar](60) NOT NULL,
	[FirstName] [varchar](60) NOT NULL,
	[LastName] [varchar](60) NOT NULL,
	[ShippingAddressID] [int] NULL,
	[BillingAddressID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[OrderItems]    Script Date: 3/5/2020 4:09:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[OrderItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[ItemPrice] [money] NOT NULL,
	[DiscountAmount] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Orders]    Script Date: 3/5/2020 4:09:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[ShipAmount] [money] NOT NULL,
	[TaxAmount] [money] NOT NULL,
	[ShipDate] [datetime] NULL,
	[ShipAddressID] [int] NOT NULL,
	[CardType] [varchar](50) NOT NULL,
	[CardNumber] [char](16) NOT NULL,
	[CardExpires] [char](7) NOT NULL,
	[BillingAddressID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Products]    Script Date: 3/5/2020 4:09:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[ProductCode] [varchar](10) NOT NULL,
	[ProductName] [varchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[ListPrice] [money] NOT NULL,
	[DiscountPercent] [money] NOT NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [kpolandsp242333].[Addresses] ON 

INSERT [kpolandsp242333].[Addresses] ([AddressID], [CustomerID], [Line1], [Line2], [City], [State], [ZipCode], [Phone], [Disabled]) VALUES (1, 1, N'100 East Ridgewood Ave.', N'', N'Paramus', N'NJ', N'07652', N'201-653-4472', 0)
INSERT [kpolandsp242333].[Addresses] ([AddressID], [CustomerID], [Line1], [Line2], [City], [State], [ZipCode], [Phone], [Disabled]) VALUES (2, 1, N'21 Rosewood Rd.', N'', N'Woodcliff Lake', N'NJ', N'07677', N'201-653-4472', 0)
INSERT [kpolandsp242333].[Addresses] ([AddressID], [CustomerID], [Line1], [Line2], [City], [State], [ZipCode], [Phone], [Disabled]) VALUES (3, 2, N'16285 Wendell St.', N'', N'Omaha', N'NE', N'68135', N'402-896-2576', 0)
GO
SET IDENTITY_INSERT [kpolandsp242333].[Addresses] OFF
SET IDENTITY_INSERT [kpolandsp242333].[Administrators] ON 

INSERT [kpolandsp242333].[Administrators] ([AdminID], [EmailAddress], [Password], [FirstName], [LastName]) VALUES (1, N'admin@myguitarshop.com', N'6a718fbd768c2378b511f8249b54897f940e9022', N'Admin', N'User')
INSERT [kpolandsp242333].[Administrators] ([AdminID], [EmailAddress], [Password], [FirstName], [LastName]) VALUES (2, N'joel@murach.com', N'971e95957d3b74d70d79c20c94e9cd91b85f7aae', N'Joel', N'Murach')
INSERT [kpolandsp242333].[Administrators] ([AdminID], [EmailAddress], [Password], [FirstName], [LastName]) VALUES (3, N'mike@murach.com', N'3f2975c819cefc686282456aeae3a137bf896ee8', N'Mike', N'Murach')
SET IDENTITY_INSERT [kpolandsp242333].[Administrators] OFF
SET IDENTITY_INSERT [kpolandsp242333].[Categories] ON 

INSERT [kpolandsp242333].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Basses')
INSERT [kpolandsp242333].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Drums')
INSERT [kpolandsp242333].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Guitars')
SET IDENTITY_INSERT [kpolandsp242333].[Categories] OFF
SET IDENTITY_INSERT [kpolandsp242333].[Customers] ON 

INSERT [kpolandsp242333].[Customers] ([CustomerID], [EmailAddress], [Password], [FirstName], [LastName], [ShippingAddressID], [BillingAddressID]) VALUES (1, N'allan.sherwood@yahoo.com', N'c44321e51ec184a2f739318639cec426de774451', N'Allan', N'Sherwood', 1, 2)
INSERT [kpolandsp242333].[Customers] ([CustomerID], [EmailAddress], [Password], [FirstName], [LastName], [ShippingAddressID], [BillingAddressID]) VALUES (2, N'barryz@gmail.com', N'd9e03c0b34c57d034edda004ec8bae5d53667e36', N'Barry', N'Zimmer', 3, 3)
INSERT [kpolandsp242333].[Customers] ([CustomerID], [EmailAddress], [Password], [FirstName], [LastName], [ShippingAddressID], [BillingAddressID]) VALUES (3, N'christineb@solarone.com', N'13ef4f968693bda97a898ece497da087b182808e', N'Christine', N'Brown', 4, 4)
GO
SET IDENTITY_INSERT [kpolandsp242333].[Customers] OFF
SET IDENTITY_INSERT [kpolandsp242333].[OrderItems] ON 

INSERT [kpolandsp242333].[OrderItems] ([ItemID], [OrderID], [ProductID], [ItemPrice], [DiscountAmount], [Quantity]) VALUES (1, 1, 2, 1199.0000, 359.7000, 1)
INSERT [kpolandsp242333].[OrderItems] ([ItemID], [OrderID], [ProductID], [ItemPrice], [DiscountAmount], [Quantity]) VALUES (2, 2, 4, 489.9900, 186.2000, 1)
INSERT [kpolandsp242333].[OrderItems] ([ItemID], [OrderID], [ProductID], [ItemPrice], [DiscountAmount], [Quantity]) VALUES (3, 3, 3, 2517.0000, 1308.8400, 1)
SET IDENTITY_INSERT [kpolandsp242333].[OrderItems] OFF
SET IDENTITY_INSERT [kpolandsp242333].[Orders] ON 

INSERT [kpolandsp242333].[Orders] ([OrderID], [CustomerID], [OrderDate], [ShipAmount], [TaxAmount], [ShipDate], [ShipAddressID], [CardType], [CardNumber], [CardExpires], [BillingAddressID]) VALUES (1, 1, CAST(N'2020-01-28T09:40:28.000' AS DateTime), 5.0000, 58.7500, CAST(N'2020-01-31T09:41:11.000' AS DateTime), 1, N'Visa', N'4111111111111111', N'04/2022', 2)
INSERT [kpolandsp242333].[Orders] ([OrderID], [CustomerID], [OrderDate], [ShipAmount], [TaxAmount], [ShipDate], [ShipAddressID], [CardType], [CardNumber], [CardExpires], [BillingAddressID]) VALUES (2, 2, CAST(N'2020-01-28T11:23:20.000' AS DateTime), 5.0000, 21.2700, CAST(N'2020-01-31T11:24:03.000' AS DateTime), 3, N'Visa', N'4012888888881881', N'08/2024', 3)
INSERT [kpolandsp242333].[Orders] ([OrderID], [CustomerID], [OrderDate], [ShipAmount], [TaxAmount], [ShipDate], [ShipAddressID], [CardType], [CardNumber], [CardExpires], [BillingAddressID]) VALUES (3, 1, CAST(N'2020-01-29T09:44:58.000' AS DateTime), 10.0000, 102.2900, CAST(N'2020-02-01T09:45:41.000' AS DateTime), 1, N'Visa', N'4111111111111111', N'06/2024', 2)
SET IDENTITY_INSERT [kpolandsp242333].[Orders] OFF
SET IDENTITY_INSERT [kpolandsp242333].[Products] ON 

SET IDENTITY_INSERT [kpolandsp242333].[Products] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E077A1C728]    Script Date: 3/5/2020 4:09:44 PM ******/
ALTER TABLE [kpolandsp242333].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__49A14740B045D30B]    Script Date: 3/5/2020 4:09:44 PM ******/
ALTER TABLE [kpolandsp242333].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__2F4E024F13698D9E]    Script Date: 3/5/2020 4:09:44 PM ******/
ALTER TABLE [kpolandsp242333].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [kpolandsp242333].[Addresses] ADD  DEFAULT (NULL) FOR [Line2]
GO
ALTER TABLE [kpolandsp242333].[Addresses] ADD  DEFAULT ((0)) FOR [Disabled]
GO
ALTER TABLE [kpolandsp242333].[Customers] ADD  DEFAULT (NULL) FOR [ShippingAddressID]
GO
ALTER TABLE [kpolandsp242333].[Customers] ADD  DEFAULT (NULL) FOR [BillingAddressID]
GO
ALTER TABLE [kpolandsp242333].[Orders] ADD  DEFAULT (NULL) FOR [ShipDate]
GO
ALTER TABLE [kpolandsp242333].[Products] ADD  DEFAULT ((0.00)) FOR [DiscountPercent]
GO
ALTER TABLE [kpolandsp242333].[Products] ADD  DEFAULT (NULL) FOR [DateAdded]
GO
ALTER TABLE [kpolandsp242333].[Addresses]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [kpolandsp242333].[Customers] ([CustomerID])
GO
ALTER TABLE [kpolandsp242333].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [kpolandsp242333].[Orders] ([OrderID])
GO
ALTER TABLE [kpolandsp242333].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [kpolandsp242333].[Products] ([ProductID])
GO
ALTER TABLE [kpolandsp242333].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [kpolandsp242333].[Customers] ([CustomerID])
GO
ALTER TABLE [kpolandsp242333].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [kpolandsp242333].[Categories] ([CategoryID])
GO
