/*
Copy this file to your Desktop
Open this file in either NOTEPAD or NOTEPAD++
DO NOT open it in anything else.
Once you have done this go to the menu
Click on SEARCH
CLICK ON REPLACE Enter kpolandsp242333 on the first line
Place you LOGIN name on the second line. (LASTNAME FIRST INITIAL then
the semester initials and two digit year.
I.E. Mine would be wilgaowskiksp21 (If I am taking it in the SPRING it's SP.
Use SU for Summer and FA for Fall.)
Then click on REPLACE ALL.
Save the file and it will still be on the Desktop.
Open MSSQL and select NEW QUERY
Drag it over to MSSQL 
Click on EXECUTE and the file should run 
WITHOUT errors.
*/


USE [itse2333pbesp24]
GO
/****** Object:  Table [kpolandsp242333].[Courses]    Script Date: 4/2/2020 11:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseNumber] [int] NULL,
	[CourseDescription] [varchar](50) NOT NULL,
	[CourseUnits] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Departments]    Script Date: 4/2/2020 11:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Instructors]    Script Date: 4/2/2020 11:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Instructors](
	[InstructorID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[FirstName] [varchar](25) NULL,
	[Status] [char](1) NOT NULL,
	[DepartmentChairman] [bit] NOT NULL,
	[HireDate] [date] NULL,
	[AnnualSalary] [money] NOT NULL,
	[DepartmentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[StudentCourses]    Script Date: 4/2/2020 11:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[StudentCourses](
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Students]    Script Date: 4/2/2020 11:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[FirstName] [varchar](25) NOT NULL,
	[EnrollmentDate] [datetime2](0) NOT NULL,
	[GraduationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kpolandsp242333].[Tuition]    Script Date: 4/2/2020 11:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kpolandsp242333].[Tuition](
	[PartTimeCost] [smallmoney] NOT NULL,
	[FullTimeCost] [smallmoney] NOT NULL,
	[PerUnitCost] [smallmoney] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [kpolandsp242333].[Courses] ON 

INSERT [kpolandsp242333].[Courses] ([CourseID], [CourseNumber], [CourseDescription], [CourseUnits], [DepartmentID], [InstructorID]) VALUES (1, 36598, N'Beginning Accounting', 3, 1, 1)
INSERT [kpolandsp242333].[Courses] ([CourseID], [CourseNumber], [CourseDescription], [CourseUnits], [DepartmentID], [InstructorID]) VALUES (2, 48926, N'Abstract Algebra', 3, 4, 5)
INSERT [kpolandsp242333].[Courses] ([CourseID], [CourseNumber], [CourseDescription], [CourseUnits], [DepartmentID], [InstructorID]) VALUES (3, 14862, N'Primary Education', 3, 2, 8)
SET IDENTITY_INSERT [kpolandsp242333].[Courses] OFF
SET IDENTITY_INSERT [kpolandsp242333].[Departments] ON 

INSERT [kpolandsp242333].[Departments] ([DepartmentID], [DepartmentName]) VALUES (1, N'Business')
INSERT [kpolandsp242333].[Departments] ([DepartmentID], [DepartmentName]) VALUES (2, N'Education')
INSERT [kpolandsp242333].[Departments] ([DepartmentID], [DepartmentName]) VALUES (3, N'English')
SET IDENTITY_INSERT [kpolandsp242333].[Departments] OFF
SET IDENTITY_INSERT [kpolandsp242333].[Instructors] ON 

INSERT [kpolandsp242333].[Instructors] ([InstructorID], [LastName], [FirstName], [Status], [DepartmentChairman], [HireDate], [AnnualSalary], [DepartmentID]) VALUES (1, N'Brown', N'Billy', N'F', 1, CAST(N'2016-01-10' AS Date), 77500.0000, 1)
INSERT [kpolandsp242333].[Instructors] ([InstructorID], [LastName], [FirstName], [Status], [DepartmentChairman], [HireDate], [AnnualSalary], [DepartmentID]) VALUES (2, N'Thomas', N'William', N'P', 0, CAST(N'2016-03-30' AS Date), 38500.0000, 3)
INSERT [kpolandsp242333].[Instructors] ([InstructorID], [LastName], [FirstName], [Status], [DepartmentChairman], [HireDate], [AnnualSalary], [DepartmentID]) VALUES (3, N'Amundsen', N'Rachel', N'F', 1, CAST(N'2016-06-05' AS Date), 79000.0000, 6)
SET IDENTITY_INSERT [kpolandsp242333].[Instructors] OFF
INSERT [kpolandsp242333].[StudentCourses] ([StudentID], [CourseID]) VALUES (5, 10)
INSERT [kpolandsp242333].[StudentCourses] ([StudentID], [CourseID]) VALUES (5, 12)
INSERT [kpolandsp242333].[StudentCourses] ([StudentID], [CourseID]) VALUES (5, 15)
GO
SET IDENTITY_INSERT [kpolandsp242333].[Students] ON 

INSERT [kpolandsp242333].[Students] ([StudentID], [LastName], [FirstName], [EnrollmentDate], [GraduationDate]) VALUES (1, N'Howard', N'Amber', CAST(N'2015-12-18T16:44:26.0000000' AS DateTime2), CAST(N'2019-12-14' AS Date))
INSERT [kpolandsp242333].[Students] ([StudentID], [LastName], [FirstName], [EnrollmentDate], [GraduationDate]) VALUES (2, N'White', N'George', CAST(N'2015-12-20T11:12:26.0000000' AS DateTime2), CAST(N'2019-12-14' AS Date))
INSERT [kpolandsp242333].[Students] ([StudentID], [LastName], [FirstName], [EnrollmentDate], [GraduationDate]) VALUES (3, N'MacNamara', N'Tony', CAST(N'2015-12-21T09:21:55.0000000' AS DateTime2), CAST(N'2019-05-07' AS Date))
SET IDENTITY_INSERT [kpolandsp242333].[Students] OFF
INSERT [kpolandsp242333].[Tuition] ([PartTimeCost], [FullTimeCost], [PerUnitCost]) VALUES (750.0000, 1250.0000, 62.5000)
/****** Object:  Index [UQ__Courses__A98290EDBBB51815]    Script Date: 4/2/2020 11:58:17 AM ******/
ALTER TABLE [kpolandsp242333].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[CourseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC34754EE964]    Script Date: 4/2/2020 11:58:17 AM ******/
ALTER TABLE [kpolandsp242333].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [kpolandsp242333].[Courses] ADD  DEFAULT ((3)) FOR [CourseUnits]
GO
ALTER TABLE [kpolandsp242333].[Courses]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [kpolandsp242333].[Departments] ([DepartmentID])
GO
ALTER TABLE [kpolandsp242333].[Courses]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [kpolandsp242333].[Instructors] ([InstructorID])
GO
ALTER TABLE [kpolandsp242333].[Instructors]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [kpolandsp242333].[Departments] ([DepartmentID])
GO
ALTER TABLE [kpolandsp242333].[StudentCourses]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [kpolandsp242333].[Courses] ([CourseID])
GO
ALTER TABLE [kpolandsp242333].[StudentCourses]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [kpolandsp242333].[Students] ([StudentID])
GO
